/* Values by default start */
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,
ol,
li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: white;
    background-image: url(https://cdn.wallpaperjam.com/content/images/70/4d/704d4ece94852f498f8bbe3e3f1ea728bd17a9a1.jpg) ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(80, 52, 26);
    font-family: 'Be Vietnam Pro', sans-serif;
}
/* Values by default end */

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header styles start */
header{
    width: 98%;
    padding: 20px;
    text-align: center;
}
header h1{
    font-size: 50px;
    font-family: inherit;
     -webkit-box-reflect: below 1px linear-gradient(transparent, #0001);
     line-height: 0.7em;
}
/* Header styles end */

/* Add book button start */
#add-book-button{
    margin: 20px 0;
    padding: 5px;
    color: white;
    font-size: 40px;
    width: 259px;   
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0,0,0,0.1);
    backdrop-filter: blur(3px);
    transition: 0.4s;
    overflow: hidden;
}
#add-book-button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#add-book-button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(300px);
    transition: 0.4s;
}
#add-book-button:hover::before{
    transform: skewX(45deg) translateX(-120px);
}
/* Add book button end */

/* Add form start */
.add-form{
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(15px);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.add-form.active{
    visibility: visible;
    opacity: 1;
}
.add-form form{
    display: relative;
    transform: translateY(-50px);
    transition: 0.4s;
    padding: 20px;
    padding-top: 10px;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0,0,0,0.1);
    background-color: rgba(255, 255, 255, 0.2);
    width: 500px;
}
.add-form label{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 3px;
    font-family: inherit;
    font-size: 25px;
}
.add-form input[type="text"], .add-form input[type="number"]{
    color: rgb(80, 80, 80);
    padding: 10px;
    border-radius: 5px;
    outline: none;
    width: 100%;
    height: 30px;
    font-size: 18px;
    font-family: inherit;
}
.add-form input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
.add-form input[type="submit"]{
    margin: 0 auto;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    color: rgb(80, 80, 80);
    font-family: inherit;
    display: block;
    transition: 0.1s;
}
.add-form input[type="submit"]:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/* Add form end */

/* books catalogue start */
#books{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
    z-index: 1;
}
.book-card{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 259px;
    height: 330px;
    color: white;
    transition: 0.4s;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
}
.book-card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(410px);
    transition: 0.3s;
}
.book-author, .book-caption, #by-word{
    max-width: 90%;
    font-size: 22px;
    text-align: center;
    color: inherit;
    font-family: inherit;
}
#by-word{
    padding: 30px 0;
    font-size: 15px;
}
.book-caption{
    font-size: 26px;
    font-weight: 700;
}
.page-amount{
    position: absolute;
    bottom: 10px;
}
.fas.fa-trash-alt{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    visibility: hidden;
    opacity: 0;
    font-size: 20px;
    transition: 0.2s;
}
.fas.fa-circle{
    position: absolute;
    font-size: 14px;
    top: 25px;
    left: 25px;
    color: rgb(0, 255, 255);
    text-shadow: 0px 0px 4px aqua,
                 0px 0px 8px aqua,
                 0px 0px 16px aqua;
    transition: 0.2s;
}
.far.fa-circle, .fas.fa-check-circle{
    position: absolute;
    font-size: 30px;
    top: 17px;
    left: 17px;
    color: white;
    transition: 0.2s;
    opacity: 0;
}
.fas.fa-check-circle{
    color: rgb(0, 255, 0);
}
.book-card:hover{
    transform: translateY(-10px);
    background-color: rgba(255, 255, 255, 0.1);
}
.book-card:hover::before{
    transform: skewX(45deg) translateX(-250px);
}
.book-card:hover .fas.fa-trash-alt{
    opacity: 1;
    visibility: visible;
}
.book-card:hover .fas.fa-circle{
    opacity: 0;
    visibility: hidden;
}
.book-card:hover .far.fa-circle, .book-card:hover .fas.fa-check-circle{
    opacity: 1;
}
.fas.fa-trash-alt:hover{
    background-color: rgba(255, 0, 0, 0.4);
    transform: scale(1.2);
    cursor: pointer;
}
.far.fa-circle:hover, .fas.fa-check-circle:hover{
    cursor: pointer;
    transform: scale(1.1);
}
/* books catalogue end */

/* Footer styles start */
footer{
    position: fixed;
    width: 100vw;
    text-align: center;
    bottom: 0;
    background-color: transparent;
    padding-bottom: 10px;
    padding-top: 5px;
    font-family: inherit;
    font-size: 18px;
    color: white;
    z-index: 2;
}
.far.fa-copyright{
    color: white;
    font-size: 17px;
}
.fab.fa-github{
    color: white;
    font-size: 19px;
    transition: 0.1s;
}
.fab.fa-github:hover{
    transform: scale(1.2);
}
/* Footer styles end */